* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  /* background: #253646 !important; */
}

.title-navbar {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: #360e4c !important;
}

@media (min-width: 992px) {
  
}

.navbar-expand-lg {
  justify-content: space-between;
  padding: 10px 40px;
  background-color: #253646 !important;
}

#navbarNav {
  justify-content: flex-start;
}

.navbar-brand.title-navbar img {
  width: 138px;
  margin-top: -6px;
  margin-right: 20px;
}

.navbar-expand-lg a,
.navbar-expand-lg p {
  margin: 0;
  color: #fffefb !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.nav-item .nav-link {
  color: #fffefb6b !important;
}

.nav-item.active .nav-link {
  color: #fffefb !important;
}

#title-section {
  margin: 50px 0;
}


#title-section h1 {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

form {
  width: 100%;  
  font-family: Montserrat;
}

form label {
  font-weight: 500;
}

form input {
  background: #f3f3f3 !important;
  border: none !important;
}

form button {
  font-size: 1.45rem !important;
}

canvas {
  max-height: 320px;
  background: #d7d7d73b;
  border-radius: 8px;
  padding: 12px;
  margin: 8px;
}

/* Buttons */
button {
  font-weight: bold !important;
  text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
  color: #1f2c38 !important;
  border-radius: 100px !important;
  padding: 5px 15px !important;
  margin: 2px 0;
  border: none !important;
}

#title-section button {  
  font-size: 20px !important;
}

button.btn-primary {
  background-color: #20354aba !important;
  color: white !important;
  text-align: center;
  /* padding: 5px 11px 5px 14px !important; */
}

button.btn-success {
  background-color: #a6b2bd !important;
}

button.btn-danger {
  background-color: #ff5a6a !important;
}

/* Tabela */
.table thead th {
  border-bottom: 1px solid #3e7ab561;
}

table.table-bordered.dataTable {
  width: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 15.2px;
  /* background: #1f2c38 !important; */
  background: #f3f3f3 !important;
  border-radius: 9px;
}

.table-bordered td, .table-bordered th {
  border: none;
  /* border-top: 1px solid #253646; */
}

.table-bordered {
  border: none !important;
}

div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label,
div.dataTables_wrapper div.dataTables_info {
  color: #5a5a5a;
  font-family: Montserrat;
  font-size: 14.5px;
}

.page-item.active .page-link {
  background-color: #253646;
    border-color: #253646;
}